[submodule "spring_sales"]
	path = spring_sales
	url = https://github.com/m-zaguette/spring_sales.git
[submodule "angular_sales"]
	path = angular_sales
	url = https://github.com/m-zaguette/angular_sales.git
[submodule "spring_clients"]
	path = spring_clients
	url = https://github.com/m-zaguette/spring_clients.git
[submodule "angular"]
	path = angular
	url = https://github.com/m-zaguette/angular.git
[submodule "angular_basic_learning"]
	path = angular_basic_learning
	url = https://github.com/m-zaguette/angular_basic_learning.git
[submodule "spring_basic_learning"]
	path = spring_basic_learning
	url = https://github.com/m-zaguette/spring_basic_learning.git
[submodule "angular_basic_learning_finished"]
	path = angular_basic_learning
	url = https://github.com/m-zaguette/angular_basic_learning.git
